{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'style/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <title>فراموشی رمز عبور</title>
    <style>
        .errorlist {
            color: red;
        }

        li {
            list-style: none;
        }
    </style>
</head>

<body class="bg-dark">

    <div class="continer d-flex justify-content-center mt-5">

    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">فراموشی رمز عبور</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                آدرس ایمیل خود را وارد کنید و ما یک ایمیل با دستورالعمل بازنشانی رمز عبور برای شما ارسال خواهیم کرد
            </p>
            <form action="" method="post">

                {% csrf_token %}

                <div data-mdb-input-init class="form-outline">
                    

                    {% for field in form %}
                    <hr>
                    {{field.errors}}
                    {{field}}
                    <label class="form-label" for="typeEmail">{{field.label}}</label>
                    {% endfor %}


                </div>

                <button type="submit" data-mdb-ripple-init class="btn btn-primary w-100">فراموشی رمز عبور</button>

            </form>

            <div class="d-flex justify-content-between mt-4">
                <a class="" href="{% url 'login' %}">ورود</a>
                <a class="" href="{% url 'register' %}">ثبت نام</a>
            </div>
        </div>
    </div>
</div>
    
</body>

</html>